header{   
.white_background{
    width: 100%;
    background-color: white;
    a{
        img{
            width: 200px;
            margin: 2rem;
            }
    }
}
}
main{
    background: url("../../../assets/auberge.png") no-repeat;
    height: 600px;
    text-align: center;
    .text_header{
        color: #335567;
        h1{
            span{
                font-family: 'Satisfy', cursive;
                font-size: 3rem;
            }
            font-family: 'Roboto', sans-serif;
            font-size: 3rem;
            padding-top: 3rem;

        }
        button{
            font-family: 'Roboto', sans-serif;
            background-color: orange;
            height: 3rem;
            border: none;
            border-radius: 20px;
            padding-left: 1rem;
            padding-right: 1rem;
            color: white;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input{
            border-radius: 20px;
            border: 1px solid orange;
            margin-top: 1rem;
            padding: 1rem 3rem;
        }    
        button{
            height: 3rem;
            border: none;
            border-radius: 20px;
            margin-top: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
            &:hover{
                background-color: orange;
            }
            }
    }
}
footer{
    background-color: #335567;
    height: 100px;
}